<!DOCTYPE html>
<html>
  <head>
    <title>User Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="leftcolumn"><%- include('./menu'); -%> </div>
    <div class="rightcolumn">
      <h1>Welcome back! <%= userName %> (<- username)</h1>
      <h2>This is the index page for user level permission</h1>
    </div>
  </body>
</html>